#logo {
  position: absolute;
  top: 10px;
  background-color: yellow;
  height: 12%;
  right: 10px;
  width: 100%;
}
#buttons{
    left:10px; 
    margin-left: 10px; 
}
#buttons input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    /* height:1.2em; */
}

img.circleImage{
  background: pink;
  border: 1px solid white;
}